apiVersion: v1
kind: Secret
metadata:
  name: argocd-github-dex
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: argocd
type: Opaque
stringData:
  client-id: "{{ github_oauth_client_id }}"
  client-secret: "{{ argocd_github_oauth_client_secret }}"
