apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  url: https://argocd.headnet.levizitting.com
  admin.enabled: "true"
  dex.config: |
    connectors:
      - type: github
        id: github
        name: GitHub
        config:
          clientID: {{ argocd_github_oauth_client_id }}
          clientSecret: $argocd-github-oauth:dex.github.clientSecret
          useLoginAsID: true
