apiVersion: v1
kind: Secret
metadata:
  name: argocd-github-oauth
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: argocd
type: Opaque
stringData:
  dex.github.clientSecret: "{{ argocd_github_oauth_client_secret }}"
