apiVersion: v1
kind: Secret
metadata:
  name: external-secrets-aws-creds
  namespace: external-secrets
type: Opaque
stringData:
  access_key_id: "{{ eso_access_key_id }}"
  secret_access_key: "{{ eso_secret_access_key }}"
