apiVersion: v1
kind: Secret
metadata:
  name: grafana-github-oauth
  namespace: monitoring
  labels:
    app.kubernetes.io/part-of: grafana
type: Opaque
stringData:
  GF_AUTH_GITHUB_CLIENT_ID: "{{ grafana_github_oauth_client_id }}"
  GF_AUTH_GITHUB_CLIENT_SECRET: "{{ grafana_github_oauth_client_secret }}"
