apiVersion: v1
kind: Secret
metadata:
  name: seaweedfs-s3-observability
  namespace: monitoring
  labels:
    app.kubernetes.io/part-of: seaweedfs
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "{{ seaweedfs_s3_observability_access_key }}"
  AWS_SECRET_ACCESS_KEY: "{{ seaweedfs_s3_observability_secret_key }}"
