apiVersion: v1
kind: Secret
metadata:
  name: seaweedfs-s3-config
  namespace: seaweedfs
  labels:
    app.kubernetes.io/part-of: seaweedfs
type: Opaque
stringData:
  seaweedfs_s3_config: '{"identities":[{"name":"anvAdmin","credentials":[{"accessKey":"{{ seaweedfs_s3_admin_access_key }}","secretKey":"{{ seaweedfs_s3_admin_secret_key }}"}],"actions":["Admin","Read","Write"]},{"name":"anvObservability","credentials":[{"accessKey":"{{ seaweedfs_s3_observability_access_key }}","secretKey":"{{ seaweedfs_s3_observability_secret_key }}"}],"actions":["Read","Write"]}]}'